.nav {
  display: flex;
  padding: 15px 40px;
  justify-content: space-between;
  align-items: center;
  background-color: grey;
}

.nav-header {
  display: flex;
  text-align: center;
  color: wheat;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
}

.nav-items {
  display: flex;
  color: white;
  cursor: pointer;
  list-style: none;
  gap: 5px;
}

.nav-items > li {
  padding: 10px;
  text-decoration: none;
  color: black;
  font-size: 18px;
}
